<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <div>
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Technonauts Hotel</h1>
      <p class="lead">world best 24/7 serving hotel</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>  

    </div>
    <br/>
    <!-- <br/> 
    <br/>
    <br/>
    <br/> -->

    <div class="employee">
      <a class="btn btn-dark btn-lg" href="/reception" role="button">Reception</a> 
      <a class="btn btn-light btn-lg" href="/manager" role="button">Manager</a>
      
    </div>


  </div>
</div>

<%- include('partials/footer') %>
