<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Technonauts Hotel</h1>
    <p class="lead">world best 24/7 serving hotel</p>
    <hr> 
    <p class="lead">Login into User</p>
    <a class="btn btn-dark btn-lg" href="/receptionlogin" role="button">Login</a>
  </br>
</br>
    <p class="lead">Register a User</p> 
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a> 

</br>
</br>

    <p class="lead">Hotel Details</p>
    <a class="btn btn-dark btn-lg" href="/bookings" role="button">Rooms Bookings</a> 
    <a class="btn btn-dark btn-lg" href="/rooom_details" role="button">Rooms Details</a>

  </div>
</div>

<%- include('partials/footer') %>